$white:         #ffffff;
$black:         #272727;

$brown:         #330d0e;
$gray-dark:     #707070;
$gray-light:    #f2f1f1;
$gray-lighter:  #f8f7f7;
$gray:          #909090;

$red:           #ba3638;
