<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <meta name="description" content="BCredi - Teste Front End" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.min.css" />
</head>

<body>
	<div class="container">
		<section class="content">
			<article class="box">
				<header class="box__header">
					<img class="box__logo"src="assets/img/logo.png" alt="A Fazenda">
					<h1 class="box__title">RANKING</h1>
				</header>
	
				<div id="output"></div>
			</article>
		</section>
	</div>

	<script type="text/template" id="test">
		<ul class="cardList">
			{{#.}}
				<li class="card__item">
					<div class="card__photo" style="background-image: url('{{picture}}');">
						<span class="card__rank">
							<small>{{rank}}</small>
						</span>
					</div>

					<div class="card__content">
						<h2 class="card__name">{{name}}</h2>
						<h3 class="card__description">{{description}}</h3>
						<div class="tooltip">
							<div class="tooltip__content">
								<p class="tooltip__title">
									gostam
								</p>
								<p class="tooltip__percentage">
									{{positivePercentage}}%
								</p>
							</div>
							<div class="tooltip__content">
								<p class="tooltip__title">
									não gostam
								</p>
								<p class="tooltip__percentage">
									{{negativePercentage}}%
								</p>
							</div>
						</div>
					</div>
				</li>
			{{/.}}
		 </ul>
			
	</script>
	<script src="assets/js/bundle.min.js"></script>
</body>

</html>