@import 'variables/all';
@import 'base/all';
@import 'abstracts/all';

body {
  background-color: $black;
  font-family: $montserrat;
}

.content {
  padding: 50px 0;
}

.box {
  margin: 0 auto;
  max-width: 374px;

  &__header {
    margin-bottom: $grid-gutter;
    position: relative;

    @include media('>=tablet') {
      align-items: flex-end;
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
    }
  }

  &__logo {
    display: block;
    left: 0;
    margin: 0 auto 5px;
    position: relative;
    z-index: z('default');

    @include media('>=tablet') {
      margin: 0;
    }
  }

  &__title {
    background-color: $white;
    border-radius: 2px;
    color: $black;
    font-size: 30px;
    font-weight: fw('bold');
    letter-spacing: ls(-100, 30);
    line-height: 1.2;
    margin: 0 0 10px;
    padding: 8px 40px;
    position: relative;
    text-align: center;
    
    text-transform: uppercase;

    @include media('>=tablet') {
      bottom: 0;
      padding: 8px 40px 8px 90px;
      position: absolute;
      right: 0;
      text-align: right;
    }
  }
}

.cardList {
  background-color: $white;
  border-radius: 2px;

  @include media('>=tablet') {
    margin-left: 2 * $grid-gutter;
  }
}

.card {
  &__item {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: $grid-gutter;
    position: relative;
    transition: background-color .3s ease-in-out;

    @include media('<=tablet') {
      &::before {
        background: rgba($black, .7);
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity .3s ease-in-out;
        visibility: hidden;
        width: 100%;
      }
    }

    &:nth-child(even) {
      background-color: $gray-light;
    }

    @include media('>=desktop') {
      &:hover {
        background-color: $red;
  
        .card__name {
          color: $white;
        }
  
        .card__description {
          color: $brown;
        }
  
        .card__photo {
          border-color: $white;
        }
  
        // exibe tooltip
        .tooltip {
          opacity: 1;
          transform: translateX(10px) translateY(-50%);
          visibility: visible;
        }
      }
    }

    &--open {
      &::before {
        opacity: 1;
        visibility: visible;
      }

      // exibe tooltip
      .tooltip {
        opacity: 1;
        transform: translateX(10px) translateY(-50%);
        visibility: visible;
      }
    }
  }

  &__name {
    color: $red;
    font-size: 18px;
    font-weight: fw('semibold');
    letter-spacing: ls(-25, 18);
    margin-bottom: 5px;
    transition: color .3s ease-in-out;
  }

  &__description {
    color: $gray;
    font-size: 12px;
    font-weight: fw('semibold');
    letter-spacing: ls(-25, 12);
    transition: color .3s ease-in-out;
  }

  &__photo {
    background-size: cover;
    border-radius: 50%;
    border: 4px solid $red;
    height: 65px;
    margin-right: 20px;
    position: relative;
    transition: border-color .2s ease-in-out;
    width: 65px;
  }

  &__content {
    width: calc(100% - 85px);
  }

  &__rank {
    align-items: center;
    background-color: $white;
    border: 1px solid $gray-dark;
    border-radius: 50%;
    bottom: -8px;
    display: flex;
    height: 21px;
    justify-content: center;
    position: absolute;
    right: -4px;
    width: 21px;

    small {
      color: $gray-dark;
      font-size: 14px;
      font-weight: fw('bold');
      line-height: 1;
    }
  }
}

.tooltip {
  background-color: $white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  left: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(0) translateY(-50%);
  transition: all .3s ease-in-out;
  visibility: hidden;

  @include media('>=tablet') {
    left: calc(100% + 8px);
  }

  // setinha
  &::before {
    border-color: transparent $white transparent transparent;
    border-style: solid;
    border-width: 5px 6px 5px 0;
    content: '';
    display: block;
    height: 0;
    left: -6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
  }

  &__title {
    background-color: $red;
    color: $gray-lighter;
    font-size: 10px;
    font-weight: fw('bold');
    letter-spacing: ls(-25, 10);
    padding: 4px 10px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__percentage {
    color: $gray;
    font-size: 24px;
    font-weight: fw('bold');
    letter-spacing: ls(-100, 24);
    padding: 2px 5px;
  }

  &__content {
    flex: 1;

    .tooltip__title {
      border-top-left-radius: 0;
      border-top-right-radius: 10px;
    }

    &:first-of-type {
      .tooltip__title {
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
      }
    }

    &:last-child {
      .tooltip__percentage {
        border-left: 1px solid $gray;
      }

      .tooltip__title {
        border-left: 1px solid #6a1e1f;
        box-shadow: inset 1px 0 0 #c57071;
      }
    }
  }
}